*.pkl
*.xlsx
*.pptx
output/
coco_eval/coco_instances_results.json
coco_eval/instances_predictions.pth
coco_eval/coco_instances_results.json
coco_eval/instances_predictions.pth
eval/
.neptune/
__pycache__/